<div class="fh5co-slider">
  <div class="owl-carousel owl-carousel-fullwidth">
      <div class="item" style="background-image:url(http://meds.queensu.ca/blog/wp-content/uploads/2013/02/making-waves2.png)">
        <div class="fh5co-overlay"></div>
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div class="fh5co-owl-text-wrap">
                <div class="fh5co-owl-text text-center to-animate">
                  <h1 class="fh5co-lead">KEm Foundation</h1>
                <h2 class="fh5co-sub-lead">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco<a href="#">KEM FoundationHTML5.co</a></h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="item" style="background-image:url(http://i.embed.ly/1/display/resize?key=1e6a1a1efdb011df84894040444cdc60&url=http%3A%2F%2Fi.huffpost.com%2Fgen%2F2876862%2Fimages%2Fo-SUPERHERO-facebook.jpg)">
        <div class="fh5co-overlay"></div>
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div class="fh5co-owl-text-wrap">
                <div class="fh5co-owl-text text-center to-animate">
                  <h1 class="fh5co-lead">KEM Foundation</h1>
                <h2 class="fh5co-sub-lead">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco <a href="#">KEM Foundation.co</a></h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="item" style="background-image:url(http://miracleleaguelouisville.org/wp-content/uploads/2014/08/miraclereds.jpg)">
        <div class="fh5co-overlay"></div>
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div class="fh5co-owl-text-wrap">
                <div class="fh5co-owl-text text-center to-animate">
                  <h1 class="fh5co-lead">KEM Foundation</h1>
                <h2 class="fh5co-sub-lead">KEM Foundation "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco <a href="#">KEM Foundation.co</a></h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="item" style="background-image:url(http://media.nj.com/gloucester-photos/photo/2012/05/-4d83661c6ac17d82.JPG)">
        <div class="fh5co-overlay"></div>
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div class="fh5co-owl-text-wrap">
                <div class="fh5co-owl-text text-center to-animate">
                  <h1 class="fh5co-lead">Kem Foundation</h1>
                <h2 class="fh5co-sub-lead">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco <a href="#">KEM Foundation.co</a></h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
